.QuizItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  min-height: 30px;
  box-sizing: border-box;
  padding: 10px 0;
  border-bottom: 1px solid hsla(0, 0%, 91%, 0.4);
  cursor: default;
  transition: all 0.2s;

  &-titles {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 75%;
    & > span {
      font-family: Open Sans, Microsoft YaHei, 微软雅黑, PingFang SC,
        Hiragino Sans GB, Heiti SC, sans-serif;
      font-size: 14px;
      color: #333;
      display: block;
      margin-right: 50px;
      min-width: 50px;
    }
  }
  &-controls {
    padding-left: 50px;
    display: flex;
  }
}

.QuizItem:first-of-type {
  border-top: 1px solid hsla(0, 0%, 91%, 0.4);
}
